server:
  port: 8080
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user
          uri: lb://user-service
          predicat—Ües:
            - Path=/user/**
        - id: notification
          uri: lb://notification-service
          predicates:
            - Path=/notification/**
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
